/node_modules
/public
/storage/*.key
/storage/*.index
/storage/*.index-shm
/storage/*.index-wal
/vendor
.env*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# SSL keys
*.pem

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# generated types
/resources/js/types/model.ts

# miscellaneous
desktop.ini
*.sql
*.sql.gz