.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  transform: translateY(100px);
  transition: transform 400ms ease-in-out;
  -webkit-overflow-scrolling: touch;
}

.ReactModal__Content--after-open {
  transform: translateY(0px);
}

.ReactModal__Content--before-close {
  transform: translateY(100px);
}
